@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow: 0 3px 6px 0 #00000029;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  @apply font-bold text-[24px] leading-9;
}

h3 {
  @apply font-medium text-[24px] leading-9;
}

h4 {
  @apply font-bold text-lg;
}






/* Sidebar */
.nav-links li a {
  @apply pt-4 pr-7 pb-3 pl-10 flex items-start gap-x-4 hover:bg-[#444444] hover:text-white cursor-pointer;
}

.nav-links li a svg {
  @apply fill-[#CACACA] flex-shrink-0 w-8 h-6;
}

.nav-links li a:hover>svg {
  @apply fill-[#FFEC3D];
}






/* Navbar */
nav {
  width: calc(100% - 256px);
}

.avatar {
  @apply relative inline-block float-right before:content-[""] before:absolute before:bottom-2.5 before:-right-0.5 before:size-4 before:bg-[#11B870] before:rounded-full;
}






/* Dashboard */
.stat-card {
  @apply pt-[33px] px-6 pb-7 bg-white flex justify-between gap-x-2.5 rounded-lg;
  box-shadow: var(--shadow);
}

.stat-card .stat-card-title {
  font-size: 18px;
  line-height: 100%;
  color: #B1B1B1;
}

.stat-card .stat-card-value {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 11px;
}

.stat-card .stat-card-percentage {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
}

.stat-card-icon {
  width: 64px;
  height: 64px;
  background: #FFEC3D;
  border-radius: 16px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
}

.stat-card .stat-card-icon img,
.stat-card .stat-card-icon svg {
  fill: black;
  width: 100%;
  height: 100%;
}

.stat-card-chart {
  padding: 33px 24px 28px;
  grid-column: span 2 / span 2;
  box-shadow: 0 3px 6px 0 #00000029;
  border-radius: 8px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-header button {
  padding: 8px 16px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  height: 36px;
  width: 91px;
  text-align: center;
}

.chart-header .btn-chart-active {
  background: #2C2C2C;
  color: #FFEC3D;
}

.chart-header .btn-chart-inactive {
  background: #F5F5F5;
}









/* Components */
.form-element {
  @apply p-4 border border-[#909090] rounded-lg;
}

.input-search-container input {
  @apply relative pr-14;
}

.input-search-container img {
  @apply absolute top-1/2 -translate-y-1/2 right-4 size-6;
}

.btn-yellow {
  @apply pt-4 pb-2.5 px-4 bg-[#FFEC3D] text-lg rounded-md;
}








/* Table Striped */
.table-striped thead tr th {
  @apply font-bold text-sm text-left pb-5;
}

.table-striped thead tr th:first-child,
.table-striped tbody tr td:first-child {
  @apply pl-10;
}

.table-striped thead tr th:last-child,
.table-striped tbody tr td:last-child {
  @apply pr-10;
}

.table-striped tbody {
  @apply divide-y divide-[#DDDDDD];
  box-shadow: var(--shadow);
}

.table-striped tbody tr:nth-child(even) {
  @apply bg-[#F9FAFB];
}

.table-striped tbody tr:nth-child(odd) {
  @apply bg-[white];
}

.table-striped tbody tr td {
  @apply h-14 content-center;
}

.table-striped tbody tr td .table-tag {
  @apply font-medium px-2 h-8 content-center rounded-md inline-block;
}

.table-striped tbody tr td .table-action-btn {
  @apply font-medium px-2 h-9 content-center bg-[#FFEC3D] rounded-md inline-block;
}

.table-striped tbody tr td .table-chip {
  @apply font-medium px-2 h-9 content-center text-[#11B870] bg-[#11B8701A] border border-[#11B870] rounded-md inline-block;
}








/* Custom classes */
.shadow-default {
  box-shadow: var(--shadow);
}